.auth-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .lock-icon {
    font-size: calc(var(--ts-transfer-me--auth--size, 1) * 72px);
    color: var(--color-primary-500);
    margin: calc(var(--ts-transfer-me--auth--size, 1) * 2rem) auto;
  }

  h1 {
    font-size: var(--ts-transfer-me--auth-heading--font-size, 40px);
    opacity: var(--color-high-emphasis);
    margin: 0;
  }

  p {
    font-size: calc(var(--ts-transfer-me--auth--size, 1) * 18px);
    opacity: var(--color-medium-emphasis);
  }
}
