.inner-container {
  .login-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: justify;

    p {
      opacity: var(--color-medium-emphasis);
      line-height: 1.5rem;
    }

    h1 {
      opacity: var(--color-high-emphasis);
      text-align: center;
    }

    form {
      display: flex;
      flex-direction: row;
      width: 100%;

      input {
        width: 100%;
        line-height: 1.5rem;
        background: var(--color-surface-200);
        color: white;
        border: unset;
        padding: 4px;
        box-sizing: border-box;

        &:focus,
        &:active,
        &:focus-visible {
          border: 0;
          outline: unset;
        }
      }

      button {
        background: var(--color-primary-500);
        margin: 0;
        padding: 0.5rem;
        border: 0;
        border-radius: 6px;
        color: white;
      }
    }
  }
}
