.inner-container {
  .stats-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: justify;
    height: 100%;

    .link-share {
      display: flex;

      input {
        background: var(--color-surface-300);
        border: 0;
        color: #fff;
        opacity: var(--color-high-emphasis);
      }

      button {
        padding: 0;
        border: 0;
        border-radius: 4px;
        background: var(--color-primary-500);
        height: 28px;
        width: 28px;
        display: flex;
        justify-content: center;
        align-items: center;
        color: white;
      }
    }

    ul {
      padding: 0;

      &.files {
        height: 35%;
        overflow-y: auto;
      }
    }

    li.download-item {
      display: flex;
      justify-content: space-around;
      flex-direction: row;
      width: 100%;
      align-items: center;
      padding: 0.5rem 0;

      svg.download-content-type {
        font-size: 48px;
        padding: 0 1rem;
        fill: var(--color-secondary-500);

        path {
          stroke: var(--color-secondary-500);
        }
      }

      span {
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;
        max-width: 170px;
        width: 170px;
        opacity: var(--color-medium-emphasis);
      }

      button {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-left: 1rem;
        height: 28px;
        width: 28px;
        background: var(--color-primary-500);
        border: 0;
        border-radius: 4px;
        text-align: none;
        padding: 0;
        color: white;

        svg {
          /* font-size: 18px; */
          /* width: 24px; */
          /* height: 24px; */
          font-size: 16px;
          height: 1rem;
          width: 1rem;

          path {
            stroke: #ffffff;
          }
        }
        .bundle-gear-spinner {
          animation: rotateSpinner 800ms linear infinite;

          @keyframes rotateSpinner {
            to {
              transform: rotate(360deg);
            }
          }
        }
      }
    }
  }
}
