.inner-container {
  .upload-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: justify;

    img {
      width: 100%;
    }

    .upload-progress {
      text-align: center;
      p {
        opacity: var(--color-medium-emphasis);
      }
      .upload-progressbar-help-text {
        opacity: var(--color-disabled-emphasis);
      }
    }

    .upload-area > div {
      margin-top: 3rem;
      display: flex;
      justify-content: center;
    }

    h1 {
      opacity: var(--color-high-emphasis);
      text-align: center;
    }

    p {
      opacity: var(--color-medium-emphasis);
      line-height: 1.25rem;
    }

    .max-file-size-info {
      opacity: var(--color-disabled-emphasis);
      text-align: center;
    }

    label {
      position: relative;
      display: block;
      width: 50px;
      height: 50px;
      background: var(--color-primary-500);
      cursor: pointer;
      border-radius: 50%;
      display: flex;
      justify-content: center;
      align-items: center;

      svg {
        font-size: 24px;
        opacity: var(--color-high-emphasis);
      }

      input[type="file"] {
        height: 100%;
        left: 0;
        opacity: 0;
        position: absolute;
        top: 0;
        width: 100%;
      }
    }
  }
}
