.outer-container {
  @media (min-width: 500px) {
    --ts-outer-container--height: 90%;
    --ts-outer-container--width: 400px;
    --ts-outer-container--position: absolute;
    --ts-outer-container--transform: translate(50%, -50%);
    --ts-outer-container--right: 50%;
    --ts-outer-container--top: 50%;
    --ts-outer-container--box-shadow: 2px 3px 6px white;
  }
  height: var(--ts-outer-container--height, 100%);
  width: var(--ts-outer-container--width, 100%);
  position: var(--ts-outer-container--position, none);
  padding: calc(var(--ts-transfer-me--auth--size, 1) * 1.5rem);
  transform: var(--ts-outer-container--transform, none);
  right: var(--ts-outer-container--right, none);
  top: var(--ts-outer-container--top, none);
  box-sizing: border-box;
  box-shadow: var(--ts-outer-container--box-shadow, none);

  > button {
    border-radius: 50%;
    appearance: none;
    border: none;
    background: var(--color-secondary-300);
    height: 24px;
    width: 24px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 12px;
    padding: 0;
    margin: 0;
  }

  .inner-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: justify;

    background: var(--color-surface-100);
    width: var(--ts-transfer-me--auth-modal--width, 100%);
    height: 100%;
  }
}
