text {
  fill: #ffffff;
  stroke: #ffffff;
  font-size: 24px;
}

circle {
  fill: transparent;
  stroke: var(--color-primary-500);
  transition: stroke-dashoffset 0.35s;
  transform: rotate(-90deg);
  transform-origin: 50% 50%;
}
